<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharding.mapper.OrderMapper">

    <sql id="conditionOnw">
        from orders o
        <if test="pageDTO.carType != null and pageDTO.carType != ''">
            Left join order_detail odA on odA.order_id = o.id
        </if>
        <where>
            <if test="pageDTO.orderNo != null and pageDTO.orderNo != ''">
                o.order_no = #{pageDTO.orderNo}
            </if>
            <if test="pageDTO.carType != null and pageDTO.carType != ''">
                odA.key_name = 'A' and odA.key_value = #{pageDTO.carType}
            </if>
        </where>
        group by o.id
    </sql>

    <select id="countPage" resultType="java.lang.Long">
        select count(distinct o.id)
        <include refid="conditionOnw"/>
    </select>

    <select id="page" resultType="com.sharding.domain.entity.Order">
        select o.*
        <include refid="conditionOnw"/>
        ORDER BY
            create_time DESC
        limit #{offset},#{size}
    </select>
</mapper>
