<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharding.mapper.OrderMapper">

    <sql id="conditionOnw">
        FROM orders o
        <where>
            <if test="pageDTO.orderNo != null and pageDTO.orderNo != ''">
                o.order_no = #{pageDTO.orderNo}
            </if>
        </where>
        GROUP BY o.id
    </sql>

    <select id="countPage" resultType="java.lang.Long">
        SELECT COUNT(*) FROM(
            SELECT o.id
        <include refid="conditionOnw"/>
        ) temp
    </select>

    <select id="page" resultType="com.sharding.domain.entity.Order">
        SELECT o.*
        <include refid="conditionOnw"/>
        ORDER BY
            create_time DESC
        limit #{offset},#{size}
    </select>
</mapper>
