<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sharding.mapper.OrderMapper">

    <sql id="conditionOnw">
        FROM orders o
        <where>
            <if test="pageDTO.orderNo != null and pageDTO.orderNo != ''">
                o.order_no = #{pageDTO.orderNo}
            </if>
        </where>

    </sql>

    <select id="countPage" resultType="java.lang.Long">
        SELECT COUNT(o.id)
        <include refid="conditionOnw"/>
    </select>

    <select id="page" resultType="com.sharding.domain.vo.OrderPageVO">
        SELECT
            o.id,
            o.order_no,
            o.create_time,
            o.update_time
        <include refid="conditionOnw"/>
        GROUP BY o.id
        ORDER BY
            create_time DESC
        limit #{offset},#{size}
    </select>
</mapper>
